  .ec-dashboard-heading {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .ec-dashboard-button {
    margin: 20px 0;
  }
  
  .ec-dashboard-results {
    width: 100%; 
    max-width: 600px; 
    margin-top: 20px;
  }
  
  .ec-dashboard-results-list {
    margin-bottom: 30px;
    background: #f4f4f4; 
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .ec-dashboard-results-item {
    margin: 10px 0;
    border-bottom: 1px solid #ddd; 
  }
  
  .ec-dashboard-summary {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
  }
  .ec-dashboard{
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .ec-dashboard h1 {
    color: #333;
    margin-bottom: 20px;
  }
  .ec-info-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .ecf-info {
    background-color: #ffffff;
    padding: 10px 20px;
    margin-bottom: 30px;
    border-radius: 8px;
    display: flex;
    align-items: center;
  }
  
  .voter-info .voter-details {
    color: #333; 
    margin-left: 20px; 
    font-weight: bold; 
  }
  .ecf-info  .profile-pic-placeholder {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid #333;
    margin-right: 15px;
    background-color: #eeeeee;
  }