
body, h1, h2, h3, h4, h5, h6, p, button {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  background-color: #333;
  color: white;
  padding: 30px 4px; 
  text-align: center;
  width: 277.5%; 
}


header .Typography {
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
}

main {
  padding: 40px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  background: white;
  margin-top: 20px;
  width: 100%;
  max-width: 800px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

h2 {
  color: #333;
  font-size: 1.5rem;
  margin-bottom: .5rem;
}

.Typography {
  margin-bottom: 16px;
}

.MuiButton-contained {
  padding: 6px 15px;
  font-size: .875rem;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer .Typography {
  margin: 0;
  font-size: .875rem;
}

@media (max-width: 768px) {
  main {
    padding: 20px;
  }

  section {
    width: 200%;
  }

  header .Typography, footer .Typography {
    font-size: 1.5rem;
  }
}

.MuiButton-contained:hover {
  background-color: #115293;
}
